@import "~bulma/sass/utilities/_all";

$primary: #424056;
$primary-invert: findColorInvert($primary);
$secondary: #FAB12D;
$secondary-invert: findColorInvert($secondary);

$success: #78cc8a;
$success-invert: findColorInvert($success);
$info: #36bcd4;
$info-invert: findColorInvert($info);
$danger: #ff7061;
$danger-invert: findColorInvert($danger);

$colors: map-merge(
    $colors,
    (
        "primary": ($primary, $primary-invert),
        "secondary": ($secondary, $secondary-invert),
        "success": ($success, $success-invert),
        "info": ($info, $info-invert),
        "danger": ($danger, $danger-invert),
    )
);

// Navbar
$navbar-background-color: $secondary;
$navbar-item-color: $primary;
$navbar-height: 4rem;


// Footer
$footer-padding: 3rem 1.5rem 4rem;
$footer-background-color: $primary;

$body-background-color: #f8f7fa;
$fullhd-enabled: false;
$hero-body-padding-medium: 6rem 1.5rem;

main > .container {
    background: $white;
}